<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../public/css/local.css">
    <link rel="stylesheet" type="text/css" href="../public/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="../public/slick/slick-theme.css">
  </head>

<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <a href="/logout">Logout</a>
  <center>
    <h2>PREPHub</h2>
  </center>


  <div class="container">
    <button class="collapsible">PREPHub Radio</button>
    <div class="content" align="center">
      <div class="btn-group">
        <button class="button change-radio">Radio 1</button>
        <button class="button change-radio">Radio 2</button>
        <button class="button change-radio">Radio 3</button>
        <button class="button change-radio">Radio 4</button>
      </div>
    </div>
  </div>
  <div class="container">
    <button class="collapsible">PREPHub Lights</button>
    <div class="content" align="center">
      <div class="btn-group">
        <button class="button change-light">White</button>
        <button class="button change-light">Red</button>
        <button class="button change-light">Blue</button>
        <button class="button change-light">Green</button>
      </div>
    </div>
  </div>
  <div class="container">
    <button class="collapsible">About PREPHub</button>
    <div class="content">
      <p>Info about PREPHub and its purpose</p>
    </div>
  </div>
  <div class="container">
    <button class="collapsible">Disaster Protocol</button>
    <div class="content">
      <p>Disaster protocol information</p>
    </div>
  </div>

  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <script type="text/javascript" src= "../public/js/local.js"></script>
  <script type="text/javascript" src="../public/slick/slick.js"></script>
</body>

</html>
