<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/local.css') }}">
</head>
<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <center><h2>PREPHub</h2></center>

  <a href="{{url_for("login_press")}}"><button class="login">Admin</button></a>

  <div class="container">
    <button class="collapsible">PREPHub Radio</button>
    <div class="content" align="center">
      <div class="btn-group">
        <button class="button">Radio 1</button>
        <button class="button">Radio 2</button>
        <button class="button">Radio 3</button>
        <button class="button">Radio 4</button>
      </div>
    </div>
  </div>
  <div class="container">
    <button class="collapsible">PREPHub Lights</button>
    <div class="content" align="center">
      <div class="btn-group">
        <button class="button">Light 1</button>
        <button class="button">Light 2</button>
        <button class="button">Light 3</button>
        <button class="button">Light 4</button>
      </div>
    </div>
  </div>
  <div class="container">
    <button class="collapsible">About PREPHub</button>
    <div class="content">
      <p>Info about PREPHub and its purpose</p>
    </div>
  </div>
  <div class="container">
    <button class="collapsible">Disaster Protocol</button>
    <div class="content">
      <p>Disaster protocol information</p>
    </div>
  </div>

  <script type="text/javascript" src="{{ url_for('static', filename = 'js/local.js') }}"></script>
</body>
</html>
