html, body {
    background-color: #2e2e1f !important;
    height: 100%;
}

.tab-content {
    background-color: white !important;
    width: 75%;
    margin: auto;
    height: 100%;
    padding: 10px;
}

#prephub-logo {
    margin-top: 5%;
    max-width: 100%;
    height: auto;
}

#backdrop {
    background-color: white !important;
    width: 50%;
    margin: auto;
    border-radius: 5px;
}

nav {
    width: 75%;
    margin: auto;
}

#nav-twitter {
    height: 100%;
}