<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../public/css/admin.css">
  </head>

<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <a href="/logout">Logout</a>
  <center>
    <h2>PREPHub Admin</h2>
    <button class="button">Initialize Emergency Mode</button>
  </center>

  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
</body>

</html>
