<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../public/css/local.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style>
  </style>
</head>

<body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    This is a danger alert—check it out!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <button class="tablink" onclick="openPage('Twitter', this)" id="defaultOpen">Twitter</button>
  <button class="tablink" onclick="openPage('Radio', this)">Radio</button>
  <button class="tablink" onclick="openPage('Lights', this)">Lights</button>
  <button class="tablink" onclick="openPage('Disaster', this)">Disaster</button>
  <button class="tablink" onclick="openPage('About', this)">About</button>

  <div id="Twitter" class="tabcontent">
    <div class="container">
      <a class="twitter-timeline" data-height="500" href="https://twitter.com/Portland_State?ref_src=twsrc%5Etfw">Tweets
        by Portland_State</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

      <a class="twitter-timeline" data-height="500" href="https://twitter.com/Portland_State?ref_src=twsrc%5Etfw">Tweets
        by Portland_State</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>

  <div id="Radio" class="tabcontent">
    <div class="container">
      <div class="btn-group">
        <button class="button change-radio">Radio 1</button>
        <button class="button change-radio">Radio 2</button>
        <button class="button change-radio">Radio 3</button>
        <button class="button change-radio">Radio 4</button>
      </div>
    </div>
  </div>

  <div id="Lights" class="tabcontent">
    <div class="container">
      <div class="btn-group">
        <button class="button change-light">White</button>
        <button class="button change-light">Red</button>
        <button class="button change-light">Blue</button>
        <button class="button change-light">Green</button>
      </div>
    </div>
  </div>

  <div id="Disaster" class="tabcontent">
    <div class="container">
      <p>O say can you see</p>
      <p>By the dawn's early light</p>
      <p>What so proudly we hailed</p>
      <p>At the Twilight's last gleaming</p>
    </div>
  </div>

  <div id="About" class="tabcontent">
    <div class="container">
      <p>Team Lead: Nick Smith</p>
      <p>Team Members:</p>
      <ul style="list-style-type:none;">
        <li>Benjamin Baleiluvka</li>
        <li>Robert Horrace</li>
        <li>Parker Moore</li>
        <li>Haison Nguyen</li>
        <li>Justin Schrader</li>
        <li>Danniel Sotelo</li>
      </ul>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <script type="text/javascript" src="../public/js/local.js"></script>
</body>

</html>