 <!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../public/css/local.css">
  <link rel="stylesheet" type="text/css" href="../public/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="../public/slick/slick-theme.css">
</head>

<body>
  <title>PREPHub</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <h2 class="heading">PREPHub</h2>
  <div class="container">
    <div id="twitter">
      <div class="card">
      </div>
      <div class="card">
      </div>
      <div class="card">
      </div>
      <div class="card">
      </div>
      <div class="card">
      </div>
      <div class="card">
      </div>
    </div>
  </div>

  <div class="container">
    <button class="collapsible">PREPHub Radio</button>
    <div class="content" align="center">
      <div class="btn-group">
        <button class="button change-radio">Radio 1</button>
        <button class="button change-radio">Radio 2</button>
        <button class="button change-radio">Radio 3</button>
        <button class="button change-radio">Radio 4</button>
      </div>
    </div>
  </div>
  <div class="container">
    <button class="collapsible">PREPHub Lights</button>
    <div class="content" align="center">
      <div class="btn-group">
        <button class="button change-light">White</button>
        <button class="button change-light">Red</button>
        <button class="button change-light">Blue</button>
        <button class="button change-light">Green</button>
      </div>
    </div>
  </div>
  <div class="container">
    <button class="collapsible">About PREPHub</button>
    <div class="content">
      <p>Info about PREPHub and its purpose</p>
    </div>
  </div>
  <div class="container">
    <button class="collapsible">Disaster Protocol</button>
    <div class="content">
      <div class="tab">
        <button class="tablinks" onclick="openLang(event, 'English')">English</button>
        <button class="tablinks" onclick="openLang(event, 'Español')">Español</button>
        <button class="tablinks" onclick="openLang(event, 'русский')">русский</button>
      </div>

      <div id="English" class="tabcontent">
        <h3>English</h3>
        <p>This will be in english</p>
       </div>

      <div id="Español" class="tabcontent">
        <h3>Español</h3>
        <p>Esto será presentado en español</p> 
      </div>

      <div id="pусский" class="tabcontent">
        <h3>pусский</h3>
        <p>это будет представлено на pусском языке</p>
      </div>
    </div>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <script type="text/javascript" src= "../public/js/local.js"></script>
  <script type="text/javascript" src="../public/slick/slick.js"></script>
</body>

</html>
