<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../public/css/local.css">
  <style>
  </style>
</head>

<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <div class="banner" align="center">

  </div>

  <button class="tablink" onclick="openPage('Twitter', this)" id="defaultOpen">Twitter</button>
  <button class="tablink" onclick="openPage('Radio', this)">Radio</button>
  <button class="tablink" onclick="openPage('Lights', this)">Lights</button>
  <button class="tablink" onclick="openPage('Preparation', this)">Preparation</button>
  <button class="tablink" onclick="openPage('About', this)">About</button>

  <div id="Twitter" class="tabcontent">
    <div class="container">
      <a class="twitter-timeline" data-width="300" data-height="500"
        href="https://twitter.com/Portland_State?ref_src=twsrc%5Etfw">Tweets by Portland_State</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>

  <div id="Radio" class="tabcontent">
    <div class="container">
      <div class="btn-group">
        <button class="button change-radio" style="background-color: #F5F5F5" value="Radio 1">
          <img src="/images/955.png" class="img-responsive">
        </button>

        <button class="button change-radio" style="background-color: #F8F8F8" value="Radio 2">
          <img src="/images/opb.png" class="img-responsive">
        </button>

        <button class="button change-radio" style="background-color: #F8F8F8" value="Radio 3">
          <img src="/images/kcrw.png" class="img-responsive">
        </button>

        <button class="button change-radio" style="background-color: #FFDE02" value="Radio 4">
          <img src="/images/kmhd.png" class="img-responsive">
        </button>
      </div>
    </div>
  </div>

  <div id="Lights" class="tabcontent">
    <div class="container">
      <div class="btn-group">

        <button class="button change-light" style="background-color: #F1F2F3; height: 126px" value="White">
          <img src="/images/white.svg">
        </button>

        <button class="button change-light" style="background-color: #bf1f8e; height: 126px" value="Purple">
          <img src="/images/purple.svg">
        </button>

        <button class="button change-light" style="background-color: #119ced; height: 126px" value="Blue">
          <img src="/images/blue.svg">
        </button>

        <button class="button change-light" style="background-color: #54de54; height: 126px" value="Green">
          <img src="/images/green.svg">
        </button>

      </div>
    </div>
  </div>

  <div id="Preparation" class="tabcontent">
    <div class="container">
      <p>
        One primary purpose of the PREPhub is to communicate key messages related<br>
        to both disaster preparation as well as to support systems available soon<br>
        after a disaster takes place.<br><br>
        Key messages to be shared with PREPhub “interactors” may include:
      </p>
    </div>
    <div class="container">
      <button class="collapsible">CONNECTION TO BEECN SYSTEM</button>
      <div class="content" style="max-height: 0px;">
        <p>
          PREPhub installation is an important element of the city’s BEECN system to support<br>
          residents post-disaster.<br><br>
          Come to the PREPhub site for support and information following disaster incidents.
        </p>
      </div>
    </div>
    <div class="container">
      <button class="collapsible">GETTING INVOLVED AS A VOLUNTEER</button>
      <div class="content" style="max-height: 0px;">
        <p>
          Learn how to get involved through voluntary action. Provide information to visitors<br>
          about how they can become volunteers in disaster preparation and response efforts in<br>
          their community (e.g. NET, BEECN, CERT).<br><br>
          <a href="https://www.portlandoregon.gov/pbem/58587">Click here</a> to learn about becoming a City of Portland
          NET (Neighborhood Emergency Team)<br>
          Volunteer.<br><br>

          <a href="https://www.portlandoregon.gov/pbem/77227">Click here</a> to learn about becoming a BEECN (Basic
          Earthquake Emergency Communication Node)<br>
          volunteer.
        </p>
      </div>
    </div>
    <div class="container">
      <button class="collapsible">PREPARATION</button>
      <div class="content" style="max-height: 0px;">
        <p>
          How families can create an appropriate “earthquake kit” with basic food, clothes, hygiene<br>
          and first aid supplies for a minimum of two weeks. (Could include referral to sources where<br>
          those with low incomes can receive support in putting together their kit.<br>
          <a href="https://www.redcross.org/get-help/how-to-prepare-for-emergencies/survival-kit-supplies.html">Click
            here</a> for information on earthquake kits to support you, your family and pets.<br><br>

          How families can create plans to communicate post-disaster and identify a site for reconnection<br>
          following an earthquake.<br>
          <a href="https://www.fema.gov/news-release/2018/03/29/how-make-disaster-plan">Click here</a> for more
          information on creating a Family Disaster Plan.<br><br>

          How individuals and families can have access to financial resources (e.g., cash) available<br>
          following a natural disaster before ordinary banking services are restored.<br><br>
          <a href="https://www.thesimpleprepper.com/prepper/essentials/survival-cash-how-much-do-you-need/">Click
            here</a> for information about having “survival cash” on-line.
        </p>
      </div>
    </div>
    <div class="container">
      <button class="collapsible">WHAT ARE THE RISKS – HOW BAD MIGHT IT BE?</button>
      <div class="content" style="max-height: 0px;">
        <p>
          Exploration of the major types of natural disasters for which Portland and Oregon are<br>
          vulnerable (e.g., major earthquake, floods, forest fires) and the likely impact of each<br>
          disaster topic of the community and residents (disruption of water, gas and power), impacts on<br>
          infrastructure, availability of public and private services (e.g. transportation, healthcare,<br>
          procurement of medication.)<br><br>

          <a href="https://www.oregon.gov/lcd/NH/Pages/Natural-Hazards.aspx">Click here</a>
          for more information on Oregon’s Natural Disasters.<br>
          <a>Click here</a>
          for a City Club of Portland Study of Earthquake preparedness for the Portland area.
        </p>
      </div>
    </div>
    <div class="container">
      <button class="collapsible">WHAT DOES DISASTER MEAN FOR BUSINESS AND SERVICES?</button>
      <div class="content" style="max-height: 0px;">
        <p>
          What does it mean for businesses and agencies?<br>
          Businesses and organizations can create resilience plans which include strategies<br>
          to be prepared to re-open following a disaster incident. These are often called<br>
          “continuity of operations plans.”<br><br>
          <a href="https://www.fema.gov/media-library/resources-documents/collections/357">Click here</a>
          information of business resilience planning.
        </p>
      </div>
    </div>
  </div>

  <div id="About" class="tabcontent">
    <div class="container">
      <img src="/images/PREPHub.jpg"></img>
      <p> For more information about PREPHub click <a href="https://www.pdx.edu/partnerships/prephubs">here</a></p>
      <br>
      <p>
        Team Lead: Nick Smith<br>
        Team Members:
      </p>
      <ul style="list-style-type:none;">
        <li>Benjamin Baleilevuka</li>
        <li>Robert Horrace</li>
        <li>Parker Moore</li>
        <li>Haison Nguyen</li>
        <li>Justin Schrader</li>
        <li>Danniel Sotelo</li>
      </ul>
    </div>
  </div>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <script type="text/javascript" src="../public/js/local.js"></script>
</body>

</html>
