<html class="translated-ltr">

<head>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">

    <title>紧急灾害后协议</title>

</head>

<body>
    <script src="static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">PREPHUB</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="dropdown-item" href="/english">English</a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" href="/spanish">Spanish</a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" href="/vietnamese">Vietnamese</a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" href="/korean">Korean</a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" href="/russian">Russian</a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" href="/chinese_simplified">Chinese (Simplified)</a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" href="/chinese_traditional">Chinese (Traditional)</a>
                    </li>
    
                </ul>
            </div>
        </nav>
    <div class="content">
        <div class="row">
            <ul id="post-disaster" class="column">
                <b>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">地震发生后：</font>
                    </font>
                </b>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">期待余震。</font>
                        <font style="vertical-align: inherit;">每当你感受到余震，掉落，掩盖并坚持下去。</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">检查自己是否受伤，必要时可以在帮助他人之前获得急救。</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">可能有很多破碎的玻璃和碎片。</font>
                        <font style="vertical-align: inherit;">保护你的头，脚和手。</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">检查你家的天然气或丙烷。</font>
                        <font style="vertical-align: inherit;">如果闻起来像气体（臭鸡蛋），请将其关闭。</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">关闭路边的水，以捕获管道中的清洁水并防止污染物进入。</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">让每个人都离开你的家。</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">注意掉落的电线或断开的气体管线; </font>
                        <font style="vertical-align: inherit;">远离受损区域。</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">给联系人发短信告诉他们你是安全的。</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">检查你的邻居。</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">如果您被困在房子里，请使用哨子或敲打一些东西来寻求帮助。
                        </font>
                    </font><br>
                    <br>
                    <b>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">其他潜在危害：</font>
                        </font>
                    </b>
                    <br>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">如果闻到煤气泄漏，请尽可能关闭主燃气阀。</font>
                        <font style="vertical-align: inherit;">到外面等待气味消失。</font>
                        <font style="vertical-align: inherit;">致电公用事业公司重新开启燃气。</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">如果电线损坏，请切断断路器箱的电源。</font>
                        <font style="vertical-align: inherit;">关闭电源直到修复损坏。
                        </font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">远离烟囱和砖砌墙壁。</font>
                        <font style="vertical-align: inherit;">他们可以在余震中倒下。</font>
                    </font>
                </li>
            </ul>
            <div id="images" class="column">
                <div> <img src="{{ url_for('static', filename='images/1.png') }}"></div>
                <div> <img src="{{ url_for('static', filename='images/2.png') }}"></div>
                <div> <img src="{{ url_for('static', filename='images/3.png') }}"></div>
            </div>
        </div>
    </div>
</body>

</html>