<html class="translated-ltr">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>紧急灾害后协议</title>
    <link type="text/css" rel="stylesheet" charset="UTF-8"
        href="https://translate.googleapis.com/translate_static/css/translateelement.css">
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">PREPHUB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Translate
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/english">English</a>
                        <a class="dropdown-item" href="/spanish">Spanish</a>
                        <a class="dropdown-item" href="/vietnamese">Vietnamese</a>
                        <a class="dropdown-item" href="/russian">Russian</a>
                        <a class="dropdown-item" href="/chinese_simplified">Chinese (Simplified)</a>
                        <a class="dropdown-item" href="/chinese_traditional">Chinese (Traditional)</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content">
        <div class="row">
            <ul id="post-disaster" class="column">
                <b>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">地震发生后：</font>
                    </font>
                </b>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">期待余震。</font>
                        <font style="vertical-align: inherit;">每当你感受到余震，掉落，掩盖并坚持下去。</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">检查自己是否受伤，必要时可以在帮助他人之前获得急救。</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">可能有很多破碎的玻璃和碎片。</font>
                        <font style="vertical-align: inherit;">保护你的头，脚和手。</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">检查你家的天然气或丙烷。</font>
                        <font style="vertical-align: inherit;">如果闻起来像气体（臭鸡蛋），请将其关闭。</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">关闭路边的水，以捕获管道中的清洁水并防止污染物进入。</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">让每个人都离开你的家。</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">注意掉落的电线或断开的气体管线; </font>
                        <font style="vertical-align: inherit;">远离受损区域。</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">给联系人发短信告诉他们你是安全的。</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">检查你的邻居。</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">如果你被困在房子里，请用你的口哨orbang来寻求帮助。
                        </font>
                    </font><br>
                    <br>
                    <b>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">其他潜在危害：</font>
                        </font>
                    </b>
                    <br>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">如果闻到煤气泄漏，请尽可能关闭主燃气阀。</font>
                        <font style="vertical-align: inherit;">到外面等待气味消失。</font>
                        <font style="vertical-align: inherit;">致电公用事业公司重新开启燃气。</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">如果电线损坏，请切断断路器箱的电源。</font>
                        <font style="vertical-align: inherit;">关闭电源直到修复损坏。
                        </font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">远离烟囱和砖砌墙壁。他们可以在余震中倒塌。</font>
                    </font>
                </li>
            </ul>
            <div id="images" class="column">
                <div> <img src="{{ url_for('static', filename='images/1.png') }}"></div>
                <div> <img src="{{ url_for('static', filename='images/2.png') }}"></div>
                <div> <img src="{{ url_for('static', filename='images/3.png') }}"></div>
            </div>
        </div>

    </div>
    <div id="goog-gt-tt" class="skiptranslate" dir="ltr">
        <div style="padding: 8px;">
            <div>
                <div class="logo"><img src="https://www.gstatic.com/images/branding/product/1x/translate_24dp.png"
                        width="20" height="20" alt="Google Translate"></div>
            </div>
        </div>
        <div class="top" style="padding: 8px; float: left; width: 100%;">
            <h1 class="title gray">Original text</h1>
        </div>
        <div class="middle" style="padding: 8px;">
            <div class="original-text"></div>
        </div>
        <div class="bottom" style="padding: 8px;">
            <div class="activity-links"><span class="activity-link">Contribute a better translation</span><span
                    class="activity-link"></span></div>
            <div class="started-activity-container">
                <hr style="color: #CCC; background-color: #CCC; height: 1px; border: none;">
                <div class="activity-root"></div>
            </div>
        </div>
        <div class="status-message" style="display: none;"></div>
    </div>



    <div class="goog-te-spinner-pos">
        <div class="goog-te-spinner-animation"><svg xmlns="http://www.w3.org/2000/svg" class="goog-te-spinner"
                width="96px" height="96px" viewBox="0 0 66 66">
                <circle class="goog-te-spinner-path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33"
                    r="30"></circle>
            </svg></div>
    </div>
</body>

</html>