<html class="translated-ltr">

<head>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">

    <title>緊急災害後協議</title>
</head>

<body>
    <script src="static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">PREPHUB</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="dropdown-item" href="/english">English</a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" href="/spanish">Spanish</a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" href="/vietnamese">Vietnamese</a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" href="/korean">Korean</a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" href="/russian">Russian</a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" href="/chinese_simplified">Chinese (Simplified)</a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" href="/chinese_traditional">Chinese (Traditional)</a>
                    </li>
    
                </ul>
            </div>
        </nav>
    <div class="content">
        <div class="row">
            <ul id="post-disaster" class="column">
                <b>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">地震發生後：</font>
                    </font>
                </b>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">期待餘震。</font>
                        <font style="vertical-align: inherit;">每當你感受到餘震，掉落，掩蓋並堅持下去。</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">檢查自己是否受傷，必要時可以在幫助他人之前獲得急救。</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">可能有很多破碎的玻璃和碎片。</font>
                        <font style="vertical-align: inherit;">保護你的頭，腳和手。</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">檢查你家的天然氣或丙烷。</font>
                        <font style="vertical-align: inherit;">如果聞起來像氣體（臭雞蛋），請將其關閉。</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">關閉路邊的水，以捕獲管道中的清潔水並防止污染物進入。</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">讓每個人都離開你的家。</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">注意掉落的電線或斷開的氣體管線; </font>
                        <font style="vertical-align: inherit;">遠離受損區域。</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">給聯繫人發短信告訴他們你是安全的。</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">檢查你的鄰居。</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">如果您被困在房子裡，請使用哨子或敲打一些東西來尋求幫助。
                        </font>
                    </font><br>
                    <br>
                    <b>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">其他潛在危害：</font>
                        </font>
                    </b>
                    <br>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">如果聞到煤氣洩漏，請盡可能關閉主燃氣閥。</font>
                        <font style="vertical-align: inherit;">到外面等待氣味消失。</font>
                        <font style="vertical-align: inherit;">致電公用事業公司重新開啟燃氣。</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">如果電線損壞，請切斷斷路器箱的電源。</font>
                        <font style="vertical-align: inherit;">關閉電源直到修復損壞。
                        </font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">遠離煙囪和磚砌牆壁。</font>
                        <font style="vertical-align: inherit;">他們可以在餘震中倒下。</font>
                    </font>
                </li>
            </ul>
            <div id="images" class="column">
                <div> <img src="{{ url_for('static', filename='images/1.png') }}"></div>
                <div> <img src="{{ url_for('static', filename='images/2.png') }}"></div>
                <div> <img src="{{ url_for('static', filename='images/3.png') }}"></div>
            </div>
        </div>

    </div>
    
</body>

</html>