<html class="translated-ltr">

<head>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <title>비상 재해 후 프로토콜</title>
</head>

<body>
    <script src="static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">PREPHUB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="dropdown-item" href="/english">English</a>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item" href="/spanish">Spanish</a>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item" href="/vietnamese">Vietnamese</a>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item" href="/korean">Korean</a>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item" href="/russian">Russian</a>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item" href="/chinese_simplified">Chinese (Simplified)</a>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item" href="/chinese_traditional">Chinese (Traditional)</a>
                </li>

            </ul>
        </div>
    </nav>
    <div class="content">
        <div class="row">
            <ul id="post-disaster" class="column">
                <b>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">지진 후 :</font>
                    </font>
                </b>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">여진이 예상됩니다. </font>
                        <font style="vertical-align: inherit;">여진이 느껴질 때마다 떨어 뜨리고 덮고 붙잡 으십시오.</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">부상을 입 었는지 확인하고 필요한 경우 다른 사람을 돕기 전에 응급 처치를 받으십시오.</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">유리와 부스러기가 많이있을 수 있습니다. </font>
                        <font style="vertical-align: inherit;">머리, 발, 손을 보호하십시오.</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">집에서 천연 가스 또는 프로판을 확인하십시오. </font>
                        <font style="vertical-align: inherit;">가스 (썩은 계란) 냄새가 나는 경우 차단하십시오.</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">연석의 물을 차단하여 파이프에있는 깨끗한 물을 가두어 오염 물질을 제거하십시오.</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">집에서 모두 꺼내십시오.</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">떨어진 전원 라인이나 깨진 가스 라인을 주시하십시오. </font>
                        <font style="vertical-align: inherit;">손상된 부분을 피하십시오.</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">안전하다는 것을 알리기 위해 연락처에 문자를 보냅니다.</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">이웃을 확인하십시오.</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">집에 갇힌 경우 호루라기를 사용하거나 도움을 요청하기 위해 무언가를 두 드리십시오.
                        </font>
                    </font><br>
                    <br>
                    <b>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">다른 잠재적 위험 :</font>
                        </font>
                    </b>
                    <br>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">가스 누출 냄새가 나는 경우 가능하면 주 가스 밸브를 차단하십시오. </font>
                        <font style="vertical-align: inherit;">밖에 나가 가스 냄새가 사라질 때까지 기다리십시오. </font>
                        <font style="vertical-align: inherit;">유틸리티 회사에 연락하여 가스를 다시 켜십시오.</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">전기 배선이 손상된 경우 차단기 상자의 전원을 차단하십시오. </font>
                        <font style="vertical-align: inherit;">손상이 복구 될 때까지 전원을 끄십시오.
                        </font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">굴뚝과 벽돌로 만든 벽은 피하십시오. </font>
                        <font style="vertical-align: inherit;">그들은 여진 동안 넘어 질 수있었습니다.</font>
                    </font>
                </li>
            </ul>
            <div id="images" class="column">
                <div> <img src="{{ url_for('static', filename='images/1.png') }}"></div>
                <div> <img src="{{ url_for('static', filename='images/2.png') }}"></div>
                <div> <img src="{{ url_for('static', filename='images/3.png') }}"></div>
            </div>
        </div>

    </div>
</body>

</html>