<html class="translated-ltr">

<head>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <title>Protocolo de desastre post emergencia</title>
</head>

<body>
    <script src="static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">PREPHUB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="dropdown-item" href="/english">English</a>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item" href="/spanish">Spanish</a>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item" href="/vietnamese">Vietnamese</a>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item" href="/korean">Korean</a>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item" href="/russian">Russian</a>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item" href="/chinese_simplified">Chinese (Simplified)</a>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item" href="/chinese_traditional">Chinese (Traditional)</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content">
        <div class="row">
            <ul id="post-disaster" class="column">
                <b>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Después del terremoto:</font>
                    </font>
                </b>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Esperar réplicas. </font>
                        <font style="vertical-align: inherit;">Cada vez que sientas una réplica, cae, cúbrete y
                            agárrate.</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Verifique que no haya lesiones y obtenga primeros
                            auxilios si es necesario antes de ayudar a otros.</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Puede haber muchos vidrios rotos y escombros. </font>
                        <font style="vertical-align: inherit;">Protege tu cabeza, pies y manos.</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Verifique el gas natural o el propano en su casa. </font>
                        <font style="vertical-align: inherit;">Ciérrelo si huele a gas (huevos podridos).</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Cierre el agua en la acera para atrapar el agua limpia
                            que se encuentra en sus tuberías y evitar la entrada de contaminantes.</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Saca a todos de tu casa.</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Esté atento a las líneas eléctricas caídas o las líneas
                            de gas rotas; </font>
                        <font style="vertical-align: inherit;">mantenerse alejado de las áreas dañadas.</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Envía mensajes de texto a tus contactos para informarles
                            que estás a salvo.</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Consulta a tus vecinos.</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Si está atrapado en la casa, use su silbato o golpee algo
                            para pedir ayuda.
                        </font>
                    </font><br>
                    <br>
                    <b>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Otros peligros potenciales:</font>
                        </font>
                    </b>
                    <br>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Si huele una fuga de gas, cierre la válvula de gas
                            principal si puede. </font>
                        <font style="vertical-align: inherit;">Sal y espera a que el olor a gas desaparezca. </font>
                        <font style="vertical-align: inherit;">Llame a la compañía de servicios públicos para volver a
                            encender el gas.</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Apague la energía en la caja de interruptores si el
                            cableado eléctrico está dañado. </font>
                        <font style="vertical-align: inherit;">Deje la corriente apagada hasta que se repare el daño.
                        </font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Manténgase alejado de chimeneas y paredes de ladrillo.
                        </font>
                        <font style="vertical-align: inherit;">Podrían caerse durante una réplica.</font>
                    </font>
                </li>
            </ul>
            <div id="images" class="column">
                <div> <img src="{{ url_for('static', filename='images/1.png') }}"></div>
                <div> <img src="{{ url_for('static', filename='images/2.png') }}"></div>
                <div> <img src="{{ url_for('static', filename='images/3.png') }}"></div>
            </div>
        </div>

    </div>

</body>

</html>