<html class="translated-ltr">

<head>
  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">

  <title>Giao thức thảm họa khẩn cấp</title>

</head>

<body>
  <script src="static/js/jquery-3.3.1.slim.min.js"></script>
  <script src="static/js/popper.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">PREPHUB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="dropdown-item" href="/english">English</a>
        </li>
        <li class="nav-item">
          <a class="dropdown-item" href="/spanish">Spanish</a>
        </li>
        <li class="nav-item">
          <a class="dropdown-item" href="/vietnamese">Vietnamese</a>
        </li>
        <li class="nav-item">
          <a class="dropdown-item" href="/korean">Korean</a>
        </li>
        <li class="nav-item">
          <a class="dropdown-item" href="/russian">Russian</a>
        </li>
        <li class="nav-item">
          <a class="dropdown-item" href="/chinese_simplified">Chinese (Simplified)</a>
        </li>
        <li class="nav-item">
          <a class="dropdown-item" href="/chinese_traditional">Chinese (Traditional)</a>
        </li>

      </ul>
    </div>
  </nav>
  <div class="content">
    <div class="row">
      <ul id="post-disaster" class="column">
        <b>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Sau trận động đất:</font>
          </font>
        </b>
        <li>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Mong đợi dư chấn. </font>
            <font style="vertical-align: inherit;">Mỗi khi bạn cảm thấy một dư chấn, thả, che và giữ.</font>
          </font>
        </li>
        <li>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Tự kiểm tra chấn thương và được sơ cứu nếu cần thiết trước khi giúp
              đỡ người khác.</font>
          </font>
        </li>
        <li>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Có thể có rất nhiều mảnh vỡ thủy tinh và mảnh vỡ. </font>
            <font style="vertical-align: inherit;">Bảo vệ đầu, chân và tay của bạn.</font>
          </font>
        </li>
        <li>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Kiểm tra khí tự nhiên hoặc propane tại nhà của bạn. </font>
            <font style="vertical-align: inherit;">Tắt nó đi nếu có mùi như gas (trứng thối).</font>
          </font>
        </li>
        <li>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Tắt nước ở lề đường để giữ nước sạch trong đường ống của bạn và tránh
              các chất ô nhiễm.</font>
          </font>
        </li>
        <li>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Đưa mọi người ra khỏi nhà của bạn.</font>
          </font>
        </li>
        <li>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Để ý các đường dây điện bị rơi hoặc các đường gas bị hỏng; </font>
            <font style="vertical-align: inherit;">tránh xa những khu vực bị hư hại</font>
          </font>
        </li>
        <li>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Nhắn tin cho các liên hệ của bạn để cho họ biết bạn an toàn.</font>
          </font>
        </li>
        <li>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Kiểm tra hàng xóm của bạn.</font>
          </font>
        </li>
        <li>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Nếu bạn bị mắc kẹt trong nhà, hãy sử dụng còi hoặc đập một cái gì đó
              để gọi trợ giúp.
            </font>
          </font><br>
          <br>
          <b>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Các mối nguy tiềm ẩn khác:</font>
            </font>
          </b>
          <br>
        </li>
        <li>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Nếu bạn ngửi thấy mùi gas rò rỉ, hãy tắt van gas chính nếu có thể.
            </font>
            <font style="vertical-align: inherit;">Đi ra ngoài và chờ mùi xăng biến mất. </font>
            <font style="vertical-align: inherit;">Gọi cho công ty tiện ích để bật lại gas.</font>
          </font>
        </li>
        <li>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Tắt nguồn ở hộp cầu dao nếu dây điện bị hỏng. </font>
            <font style="vertical-align: inherit;">Để nguồn điện tắt cho đến khi thiệt hại được sửa chữa.
            </font>
          </font>
        </li>
        <li>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Tránh xa ống khói và tường làm bằng gạch. </font>
            <font style="vertical-align: inherit;">Họ có thể lật đổ trong một dư chấn.</font>
          </font>
        </li>
      </ul>
      <div id="images" class="column">
        <div> <img src="{{ url_for('static', filename='images/1.png') }}"></div>
        <div> <img src="{{ url_for('static', filename='images/2.png') }}"></div>
        <div> <img src="{{ url_for('static', filename='images/3.png') }}"></div>
      </div>
    </div>

  </div>

</body>

</html>